In [9]:
import pandas as pd
import requests
import json

In [7]:
url = 'http://127.0.0.1:8000/disclosure/list/?page=12'

In [8]:
response = requests.get(url)

In [11]:
data_dict = json.loads(response.text)

In [15]:
datas = data_dict['results']

In [17]:
df = pd.DataFrame(datas)

In [18]:
df

,rcept_no,corp_code,corp_name,stock_code,corp_cls,report_name,fir_nm,rcept_dt,rm
0,20000616000171,00184889,이건홀딩스,39020.0,K,None,None,2000-06-16T00:00:00Z,None
1,20000616000172,00126371,삼성전기,9150.0,Y,None,None,2000-06-16T00:00:00Z,None
2,20000616000173,00258731,현대멀티캡,35910.0,E,None,None,2000-06-16T00:00:00Z,None
3,20000616000174,00204262,한글과컴퓨터,30520.0,K,None,None,2000-06-16T00:00:00Z,None
4,20000616000176,00121941,대상,1680.0,Y,None,None,2000-06-16T00:00:00Z,None
...,...,...,...,...,...,...,...,...,...
995,20000628000138,00164830,한국조선해양,9540.0,Y,None,None,2000-06-28T00:00:00Z,공
996,20000628000139,00156859,KTB투자증권,30210.0,Y,None,None,2000-06-28T00:00:00Z,None
997,20000628000140,00156859,KTB투자증권,30210.0,Y,None,None,2000-06-28T00:00:00Z,None
998,20000628000141,00131780,SK네트웍스,1740.0,Y,None,None,2000-06-28T00:00:00Z,None
999,20000628000142,00148896,OCI,10060.0,Y,None,None,2000-06-28T00:00:00Z,None

In [20]:
pd.to_datetime(df['rcept_dt'])

0     2000-06-16 00:00:00+00:00
1     2000-06-16 00:00:00+00:00
2     2000-06-16 00:00:00+00:00
3     2000-06-16 00:00:00+00:00
4     2000-06-16 00:00:00+00:00
                 ...
995   2000-06-28 00:00:00+00:00
996   2000-06-28 00:00:00+00:00
997   2000-06-28 00:00:00+00:00
998   2000-06-28 00:00:00+00:00
999   2000-06-28 00:00:00+00:00
Name: rcept_dt, Length: 1000, dtype: datetime64[ns, UTC]